name: Update flake.lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 2,12,22 * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5

      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Update flake inputs
        run: |
          for dir in . deps/flakes deps/non-flakes
          do
            cd "$dir"
            nix flake update
            cd -
          done

      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v7
        with:
          token: ${{ secrets.PAT_FOR_PR }}
          title: 'chore: Update root flake.lock'
