name: Update flake.lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 2,12,22 * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5

      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Update flake inputs
        run: |
          for dir in . deps/flakes deps/non-flakes
          do
            cd "$dir"
            nix flake update
            cd -
          done

      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          token: ${{ secrets.PAT_FOR_PR }}
          title: 'chore: Update root flake.lock'
