name: Update the registry from the flake.lock
on:
  pull_request:
    paths: 'flake.lock'
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false
jobs:
  registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          ref: ${{ github.head_ref }}
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Regenerate the registry
        run: |
          nix build .#registry
          jq . result > registry.json
          git diff registry.json
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v6
        with:
          commit_message: 'chore: Update the flake registry'
          file_pattern: registry.json
