name: Update flake.lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 2,12,22 * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Update flake inputs
        run: |
          for dir in . deps/flakes deps/non-flakes
          do
            cd "$dir"
            nix flake update
            cd -
          done

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ secrets.PAT_FOR_PR }}
          title: 'chore: Update root flake.lock'
